<li>
  <h3><%= "$#{reward.amount} #{reward.title}" %></h3>
  <p><%= reward.description %></p>
  <% if reward.pledges.where(user: current_user).count > 0 %>
    <button data-reward-id="<%= reward.id %>" class="btn btn-success back-project-button-backed"><span class="glyphicon glyphicon-ok"></span> Backed!</button>
  <% else %>
    <button data-reward-id="<%= reward.id %>" class="btn btn-primary back-project-button">Back at this level</button>
  <% end %>
</li>
