<div class="col-xs-7">
  <h1><%= @project.title %></h1>
  <h3>Time remaining: <%= distance_of_time_in_words(Time.now, @project.end_date) %></h3>
  <p><%= @project.description %></p>
</div>

<div class="col-xs-5">
  <h2>Rewards</h2>
  <ul>
    <%= render @project.rewards.order(:amount) %>
  </ul>
</div>
