<div class="col-xs-7">
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>
</div>

<div class="col-xs-5">
  <h2>Rewards</h2>
  <ul>
    <% @project.rewards.each do |reward| %>
      <li>
        <h3><%= "$#{reward.amount} #{reward.title}" %></h3>
        <p><%= reward.description %></p>
      </li>
    <% end %>
  </ul>
</div>
