<div class="col-xs-7">
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>
</div>

<div class="col-xs-5">
  <h2>Rewards</h2>
  <ul>
    <%= render @project.rewards %>
  </ul>
</div>
